@import './src/index.scss';

.section-testimonials {
  padding: 13rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/back-customers.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $color-grey;

  &__blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 1.7;
    position: relative;
}

  &__padding {
    margin-top: 5rem;
  }

  &__cite {
    display: block;
    margin-top: 2rem;
  }

  &__customers {
      width: 10%;
      border-radius: 50%;
      float: left;
      vertical-align: middle;
      margin-right: 1rem;
  }
}